


/*------ BLOCK 1 - WORK EXPERIENCE   start  -------*/
.workexp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;


    height: 74.5rem;
    
    background-color: $color-level1;

    &__h2-color {
        color: $color-LightGrey;
        margin-bottom: 8px;
    }

    &__title {
        margin: 3rem 1.25rem 0 1.25rem;
    }
    &--label-grey {
        color: $color-LightGrey; 
    }
    &__h3--greenAccent {
        color: $color-GreenAccent;
    }
    &__h3--blueAccent {
        color: $color-BlueAccent;
    }
    &__h3--pinkAccent {
        color: $color-PinkAccent;
    }
    &__description--grey {
        margin-top: 1rem;
        color: $color-LightGrey;
    }
    &__card {
        margin: 3rem 1.25rem 0.5rem 1.25rem;
        padding-right: 30px;
    }
}
/*------ BLOCK 1 - WORK EXPERIENCE    end  -------*/