.feedback__sign {
    color: $color-blue;
    font-weight: 600;
}


@media screen and (max-width: 767px) {
    .feedback {
        padding: 0rem 1.25rem 3.75rem;

        p {
            margin-bottom: 10px;
        }

        &__main-title {
            margin-top: 60px;
            margin-bottom: 40px;
        }

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            box-shadow: 4px 4px 20px 0px rgba(120, 113, 222, 0.10), -4px -4px 20px 0px rgba(120, 113, 222, 0.10);
            border-radius: 4px;
            padding: 30px;
            margin-bottom: 10px;

        }

        &__title {
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
    .feedback {
        padding: 0rem 1.25rem 3.75rem;

        p {
            margin-bottom: 10px;
        }

        &__main-title {
            margin-top: 60px;
            margin-bottom: 40px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 38.625rem;

        }

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            box-shadow: 4px 4px 20px 0px rgba(120, 113, 222, 0.10), -4px -4px 20px 0px rgba(120, 113, 222, 0.10);
            border-radius: 4px;
            padding: 30px;
            margin-bottom: 10px;
            width: 48%;

        }

        &__title {
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .feedback {
        padding: 0rem 1.25rem 3.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 10px;
        }

        &__main-title {
            margin-top: 80px;
            margin-bottom: 70px;
            align-self: center;
            width: 1218px;
        }

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            width: 1218px;
        }

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 386px;
            height: 428px;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 4px 4px 20px 0px rgba(120, 113, 222, 0.10), -4px -4px 20px 0px rgba(120, 113, 222, 0.10);
            padding: 30px;

            gap: 20px;

            &_small1 {
                order: 1;
            }

            &_small2 {
                order: 3;
            }

            &_big {
                order: 2;
            }
        }
    }
}