.reason {
    padding: 0rem 1.25rem 3.75rem;

    &__blocks {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
        gap: 1.25rem;
        text-align: center;
        padding-top: 1rem;
    }

    &__block {
        @include borderShadow;
        padding: 1.25rem;
    }

    &__img {
        width: 4rem;
        height: 4rem;
        padding-bottom: 0.625rem;
    }

    &__text {
        padding: 0 0.6rem 0 0.6rem;
    }
}