
/*------- colors  ------*/
$color-green:#9FDB3D;
$color-blue:#09035D;
$bg-color: black;
$color-level1: #181823;
$color-LightGrey: #8491A0;
$color-DarkGrey: #5B6876;
$color-Text: #fff;
$color-Primary: #5221E6;
$color-GreenAccent: #3CC74E;
$color-BlueAccent: #609BFF;
$color-PinkAccent: #E95D90;
$color-PeachAccent: #FFF3E4;
$color-VioletAccent: #FBE4FF;