
/*-----  typo    -----*/


/*-    Логика классов    
    typo-Тип шрифта-размер, 
например,
typo-title-60 - значит, что шрифт SeoulHangang и размер 60px, жирность обычная (400)

.typo-subtitle-bold-18 
шрифт Post No Bills Colombo, размер 18, жирный (600) 

для параграфов body - .typo-body-16 (это тоже Post No Bills Colombo)--*/

.typo-title-60 {
    @include typo-h(60px, $color-green);
}
.typo-title-42 {
    @include typo-h(42px, $color-blue);
}
.typo-title-36 {
    @include typo-h(36px, $color-blue);
}
.typo-title-30 {
    @include typo-h(30px, $color-blue);
}
.typo-title-28 {
    @include typo-h(28px, $color-blue);
}

.typo-subtitle-24 {
    @include typo-body(24px, $color-blue);
}   
.typo-subtitle-20 {
    @include typo-body(20px, $color-green);
}
.typo-subtitle-bold-18 {
    @include typo-body-bold(18px, $color-darkviolet);
}
.typo-subtitle-bold-16 {
    @include typo-body-bold(16px, $color-darkviolet);
}


.typo-body-14 {
    @include typo-body(14px, $color-black);
    margin: 0;
}
.typo-body-16 {
    @include typo-body(16px, $color-black);
    margin: 0;
}
.typo-body-bold-16 {
    @include typo-body-bold(16px, $color-black);
    margin: 0;
}
.typo-body-18 {
    @include typo-body(18px, $color-black);
    margin: 0;
}

.typo-btn-16 {
    @include typo-body(16px, $color-wight);
    margin: 0;
}

