/*-----  typo    -----*/

/* typo-body-18 */
.typo-nav {
    @include typo-body;
    font-size: 1.125rem;
    color: $color-wight;
}
/* typo-title-36 */
.typo-title {
    @include typo-h;
    font-size: 2.25rem;
    color: $color-blue;
}

/* typo-body-18 */
.typo-comment {
    @include typo-body;
    font-size: 1.125rem;
}
/* typo-body-16 */
.typo-textbtn {
    @include typo-body;
    font-size: 1rem;
    color: $color-wight;
}
/* typo-body-14 */
.typo-agree-answer {
    @include typo-body;
    font-size: 0.875rem;
}
/* typo-title-28 */
.typo-countstat {
    @include typo-h;
    font-size: 1.75rem;
    color: $color-blue;
}

/* typo-title-30 */
.typo-blockname {
    @include typo-h;
    font-size: 1.875rem;
    color: $color-blue;
}

/* typo-body-16 */
.typo-info {
    @include typo-body;
    font-size: 1rem;
}

/* typo-body-16-bold */
.typo-info-bold {
    @include typo-body-bold;
    font-size: 1rem;
}

.typo-text-20px {
    @include typo-body;
    font-size: 1.25rem;
}
/* typo-body-24 */
.typo-textadvant {
    @include typo-body;
    color: $color-blue;
    font-size: 1.5rem;
}

/* typo-title-60 */
.typo-countgreen {
    @include typo-h;
    color: $color-green;
    font-size: 3.75rem;
}

@media screen and (min-width: 768px) {
    .typo-title {
        font-size: 2.625rem;
    }

    .typo-countstat {
        font-size: 2rem;
    }

    .typo-blockname {
        font-size: 2.25rem;
    }

    .typo-textgreen {
        font-size: 1.5rem;
    }

    .typo-btn-agree {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .typo-nav {
        font-size: 0.875rem;
        color: $color-blue;
    }

    .typo-countstat {
        font-size: 2.25rem;
    }
}

/*typo-title-60 {
    @include typo-h(3.75rem, $color-green);
}

.typo-title-42 {
    @include typo-h(2.625px, $color-blue);
}

.typo-title-36 {
    @include typo-h(2.25rem, $color-blue);
}

.typo-title-30 {
    @include typo-h(1.875rem, $color-blue);
}

.typo-title-32 {
    @include typo-h(2rem, $color-black);
}

.typo-title-28 {
    @include typo-h(1.75rem, $color-blue);
}

.typo-subtitle-24 {
    @include typo-body(1.5rem, $color-blue);
}

.typo-subtitle-20 {
    @include typo-body(1.25rem, $color-green);
}

.typo-text-20 {
    @include typo-body(1.25rem, $color-blue);
    margin: 0;
    padding-bottom: 0.625rem;
}

.typo-subtitle-bold-18 {
    @include typo-body-bold(1.125rem, $color-darkviolet);
}

.typo-subtitle-bold-16 {
    @include typo-body-bold(1rem, $color-darkviolet);
    margin: 0;
}


.typo-body-14 {
    @include typo-body(0.875rem, $color-black);
    margin: 0;
}

.typo-body-16 {
    @include typo-body(1rem, $color-black);
    margin: 0;
}

.typo-body-bold-16 {
    @include typo-body-bold(1rem, $color-black);
    margin: 0;
}

.typo-body-18 {
    @include typo-body(1.125rem, $color-black);
    margin: 0;
}

.typo-btn-16 {
    @include typo-body(1rem, $color-wight);
    margin: 0;
}*/