/* SeoulHangang - Title, headings */

  @font-face {
    font-family: 'SeoulHangang';
    src:url('../fonts/SeoulHangang-CEB.ttf.woff') format('woff'),
        url('../fonts/SeoulHangang-CEB.ttf.svg#SeoulHangang-CEB') format('svg'),
        url('../fonts/SeoulHangang-CEB.ttf.eot'),
        url('../fonts/SeoulHangang-CEB.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* Post No Bills Colombo Regular - Subtitles, paragraph */

@font-face {
  font-family: 'Post No Bills Colombo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Colombo Regular'), url('../fonts/PostNoBillsColombo-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Post No Bills Colombo Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Post No Bills Colombo Bold'), url('../fonts/PostNoBillsColombo-Bold.woff') format('woff');
  }
  

  
