@charset "UTF-8";
/*------- colors  ------*/
/* ---- mixins -----*/
/*----- typo mixins -----*/
/*--------- base -------*/
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 4.1vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 2.1vw;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 0.83vw;
  }
}
/*-----  typo    -----*/
/*-    Логика классов    
    typo-Тип шрифта-размер, 
например,
typo-title-60 - значит, что шрифт SeoulHangang и размер 60px, жирность обычная (400)

.typo-subtitle-bold-18 
шрифт Post No Bills Colombo, размер 18, жирный (600) 

для параграфов body - .typo-body-16 (это тоже Post No Bills Colombo)--*/
.typo-nav {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.typo-title {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  font-size: 2.25rem;
  color: #09035D;
}

.typo-comment {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  font-size: 1.125rem;
}

.typo-textbtn {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  font-size: 1rem;
  color: #FFFFFF;
}

.typo-agree-answer {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  font-size: 0.875rem;
}

.typo-countstat {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  font-size: 1.75rem;
  color: #09035D;
}

.typo-blockname {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  font-size: 1.875rem;
  color: #09035D;
}

.typo-info {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  font-size: 1rem;
}

.typo-info-bold {
  font-family: "Post No Bills Colombo Bold", "Helvetica", sans-serif;
  font-style: normal;
  line-height: normal;
  margin: 0;
  font-size: 1rem;
}

.typo-text-20px {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  font-size: 1.25rem;
}

.typo-textadvant {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: #09035D;
  font-size: 1.5rem;
}

.typo-countgreen {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  color: #9FDB3D;
  font-size: 3.75rem;
}

@media screen and (min-width: 768px) {
  .typo-title {
    font-size: 2.625rem;
  }
  .typo-countstat {
    font-size: 2rem;
  }
  .typo-blockname {
    font-size: 2.25rem;
  }
  .typo-textgreen {
    font-size: 1.5rem;
  }
  .typo-btn-agree {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .typo-nav {
    font-size: 0.875rem;
    color: #09035D;
  }
  .typo-countstat {
    font-size: 2.25rem;
  }
}
/*typo-title-60 {
    @include typo-h(3.75rem, $color-green);
}

.typo-title-42 {
    @include typo-h(2.625px, $color-blue);
}

.typo-title-36 {
    @include typo-h(2.25rem, $color-blue);
}

.typo-title-30 {
    @include typo-h(1.875rem, $color-blue);
}

.typo-title-32 {
    @include typo-h(2rem, $color-black);
}

.typo-title-28 {
    @include typo-h(1.75rem, $color-blue);
}

.typo-subtitle-24 {
    @include typo-body(1.5rem, $color-blue);
}

.typo-subtitle-20 {
    @include typo-body(1.25rem, $color-green);
}

.typo-text-20 {
    @include typo-body(1.25rem, $color-blue);
    margin: 0;
    padding-bottom: 0.625rem;
}

.typo-subtitle-bold-18 {
    @include typo-body-bold(1.125rem, $color-darkviolet);
}

.typo-subtitle-bold-16 {
    @include typo-body-bold(1rem, $color-darkviolet);
    margin: 0;
}


.typo-body-14 {
    @include typo-body(0.875rem, $color-black);
    margin: 0;
}

.typo-body-16 {
    @include typo-body(1rem, $color-black);
    margin: 0;
}

.typo-body-bold-16 {
    @include typo-body-bold(1rem, $color-black);
    margin: 0;
}

.typo-body-18 {
    @include typo-body(1.125rem, $color-black);
    margin: 0;
}

.typo-btn-16 {
    @include typo-body(1rem, $color-wight);
    margin: 0;
}*/
/*                                     */
/* ------- THE PROJECT BEGINNING  ---- */
/*                                     */
/*------- HEADER  ---------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #EDEBFC;
}

.header__logo {
  width: 112px;
  height: 32px;
}

.header__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------ MENU  -------*/
.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  text-decoration: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 1.875rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #09035D;
  position: absolute;
  right: 1.25rem;
  height: 3px;
  width: 1.125rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -5px;
}

.menu-button::after {
  content: "";
  margin-top: 5px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #EDEBFC;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu > a:hover {
  color: #7871DE;
}

@media (max-width: 1020px) {
  .menu-button-container {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 113, 222, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none;
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #FFFFFF;
    background-color: none;
  }
  .menu > a:not(:last-child) {
    border-bottom: none;
  }
  .menu > a:hover {
    color: #09035D;
  }
}
.statistic {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 1.25rem;
  padding: 3.75rem 1.25rem;
  text-align: center;
}
.statistic__width {
  width: 8.7rem;
  justify-self: center;
}

@media screen and (min-width: 1600px) {
  .statistic {
    display: flex;
    gap: 1.875rem;
    padding: 5.625rem 34.9375rem 5rem;
  }
  .statistic__width {
    width: 11.125rem;
  }
}
.reason {
  padding: 0rem 1.25rem 3.75rem;
}
.reason__blocks {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
  gap: 1.25rem;
  text-align: center;
  padding-top: 1rem;
}
.reason__block {
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 1.25rem 0 rgba(120, 113, 222, 0.1), -0.25rem -0.25rem 1.25rem 0 rgba(120, 113, 222, 0.1);
  padding: 1.25rem;
}
.reason__img {
  width: 4rem;
  height: 4rem;
  padding-bottom: 0.625rem;
}
.reason__text {
  padding: 0 0.6rem 0 0.6rem;
}

.pack {
  padding-bottom: 3.75rem;
}
.pack__padding {
  padding-left: 1.25rem;
}
.pack__img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.1rem;
}
.pack__text {
  color: #0F0F10;
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 3.75rem;
}
.pack__left {
  padding-top: 10.125rem;
  display: flex;
  flex-direction: column;
  gap: 11.25rem;
}
.pack__right {
  padding-top: 4.125rem;
  display: flex;
  flex-direction: column;
  gap: 11.25rem;
}
.pack__paggingfy {
  padding-top: 1.6875rem;
}
.pack__cost {
  padding-top: 4.875rem;
}

.form-action {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7871DE;
}

.form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  max-width: 100%;
  margin: 60px 0 60px 0;
}
.form__input {
  width: 320px;
  height: 64px;
  border-radius: 4px;
  border: #09035D 2px solid;
  background-color: #FFFFFF;
  color: #0F0F10;
  padding: 20px;
  margin-bottom: 20px;
}
.form__acception {
  width: 320px;
  height: 64px;
  border: none;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.form__acception--text-white {
  color: #FFFFFF;
}
.form__acception--link {
  text-decoration: none;
  color: #9FDB3D;
}
.form__checkbox {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #09035D;
}

input:-moz-placeholder-shown {
  color: rgba(120, 113, 222, 0.5);
}

input:placeholder-shown {
  color: rgba(120, 113, 222, 0.5);
}

.button-mobile {
  width: 320px;
  height: 70px;
  background-color: #09035D;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 0px 10px 0;
  border-radius: 4px;
  border: 2px solid #09035D;
  box-shadow: 4px 4px 20px 0px rgba(9, 3, 93, 0.1);
}

.intro {
  background-color: #EDEBFC;
}
.intro__title {
  margin: 0 1.25rem 0 1.25rem;
}
.intro__item-img {
  width: 20rem;
  height: 23.75rem;
  margin: 2.5rem 0 1.25rem 0;
}
.intro__h1 {
  color: #7871DE;
}
.intro__typo-body-18 {
  color: #7871DE;
  padding: 0.625rem 0 1.25rem 0;
}
.intro__btn {
  background-color: #09035D;
  width: 20rem;
  height: 4.375rem;
  padding: 0.75rem 1.875rem 0.625rem 1.875rem;
  margin-bottom: 3.75rem;
  border-radius: 4px;
  box-shadow: 4px 4px 20px 0px rgba(9, 3, 93, 0.1);
}
.intro__btn__typo-btn-16 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forwhat {
  background-color: #7871DE;
}
.forwhat__title {
  margin: 0 1.25rem 0 1.25rem;
  padding: 3.75rem 0 3.75rem 0;
}
.forwhat__typo-title-30 {
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}
.forwhat__h3 {
  color: #9FDB3D;
  font-size: 20px;
  margin-top: 1.25rem;
}
.forwhat__typo-body-16 {
  color: #FFFFFF;
  width: 20rem;
  margin-top: 0.625rem;
}
.forwhat__p {
  color: #FFFFFF;
  width: 20rem;
  margin-top: 0.625rem;
}

.trajectory__title {
  margin: 0 1.25rem 0 1.25rem;
}
.trajectory__typo-title-60 {
  margin: 1.25rem 0 0.625rem 0;
}

.text-violet {
  color: #7871DE;
}

.w-600 {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .advant {
    padding: 0rem 1.25rem 3.75rem;
  }
  .advant p {
    margin-bottom: 10px;
  }
  .advant__main-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .advant__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 4px 4px 20px 0px rgba(120, 113, 222, 0.1), -4px -4px 20px 0px rgba(120, 113, 222, 0.1);
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 10px;
  }
  .advant__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1020px) {
  .advant {
    padding: 0rem 1.25rem 3.75rem;
  }
  .advant p {
    margin-bottom: 10px;
  }
  .advant__main-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .advant__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 38.625rem;
  }
  .advant__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 4px 4px 20px 0px rgba(120, 113, 222, 0.1), -4px -4px 20px 0px rgba(120, 113, 222, 0.1);
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 10px;
    width: 48%;
  }
  .advant__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1021px) {
  .advant {
    padding: 0rem 1.25rem 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .advant p {
    margin-bottom: 10px;
  }
  .advant__main-title {
    margin-top: 80px;
    margin-bottom: 70px;
    align-self: center;
    width: 1218px;
  }
  .advant__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1218px;
  }
  .advant__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 386px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 4px 4px 20px 0px rgba(120, 113, 222, 0.1), -4px -4px 20px 0px rgba(120, 113, 222, 0.1);
    padding: 30px;
  }
  .advant__box_small1 {
    height: 422px;
    order: 1;
  }
  .advant__box_small2 {
    height: 422px;
    order: 3;
  }
  .advant__box_big {
    height: 479px;
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */