@charset "UTF-8";
/*------- colors  ------*/ /* ---- mixins -----*/ /*----- typo mixins -----*/ /*--------- base -------*/
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 4.1vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

/*-----  typo    -----*/
/*-    Логика классов    
    typo-Тип шрифта-размер, 
например,
typo-title-60 - значит, что шрифт SeoulHangang и размер 60px, жирность обычная (400)

.typo-subtitle-bold-18 
шрифт Post No Bills Colombo, размер 18, жирный (600) 

для параграфов body - .typo-body-16 (это тоже Post No Bills Colombo)--*/
.typo-title-60 {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-size: 60px;
  color: #9FDB3D;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.typo-title-42 {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-size: 42px;
  color: #09035D;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.typo-title-36 {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-size: 36px;
  color: #09035D;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.typo-title-30 {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-size: 30px;
  color: #09035D;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.typo-title-28 {
  font-family: "SeoulHangang", sans-serif;
  margin: 0;
  font-size: 28px;
  color: #09035D;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}

.typo-subtitle-24 {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 24px;
  color: #09035D;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.typo-subtitle-20 {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 20px;
  color: #9FDB3D;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.typo-subtitle-bold-18 {
  font-family: "Post No Bills Colombo Bold", "Helvetica", sans-serif;
  font-size: 18px;
  color: #7871DE;
  font-style: normal;
  line-height: normal;
}

.typo-subtitle-bold-16 {
  font-family: "Post No Bills Colombo Bold", "Helvetica", sans-serif;
  font-size: 16px;
  color: #7871DE;
  font-style: normal;
  line-height: normal;
}

.typo-body-14 {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 14px;
  color: #0F0F10;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.typo-body-16 {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 16px;
  color: #0F0F10;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.typo-body-bold-16 {
  font-family: "Post No Bills Colombo Bold", "Helvetica", sans-serif;
  font-size: 16px;
  color: #0F0F10;
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.typo-body-18 {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 18px;
  color: #0F0F10;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.typo-btn-16 {
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

/*                                     */
/* ------- THE PROJECT BEGINNING  ---- */
/*                                     */
/*------- HEADER  ---------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #EDEBFC;
}

.header__logo {
  width: 112px;
  height: 32px;
}

.header__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------ MENU  -------*/
.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  text-decoration: none;
  font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
  font-size: 14px;
  color: #09035D;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 1.875rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #09035D;
  position: absolute;
  right: 1.25rem;
  height: 3px;
  width: 1.125rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -5px;
}

.menu-button::after {
  content: "";
  margin-top: 5px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #EDEBFC;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu > a:hover {
  color: #7871DE;
}

@media (max-width: 1020px) {
  .menu-button-container {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 3.125rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(120, 113, 222, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none;
    font-family: "Post No Bills Colombo Regular", "Helvetica", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #menu-toggle:checked ~ .menu a {
    border: none;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #FFFFFF;
    background-color: none;
  }
  .menu > a:not(:last-child) {
    border-bottom: none;
  }
  .menu > a:hover {
    color: #09035D;
  }
}/*# sourceMappingURL=style.css.map */